langchain_openai
langgraph
langchain_huggingface
langchain_community
langgraph-checkpoint-postgres
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg[binary]
pydantic
typing
pydantic-settings
python-multipart
pinecone
cohere
boto3
tavily
pinecone_text
pwdlib
PyJWT
pwdlib[argon2]
pypdf
psycopg_pool